tests/
docs/
fix/
data/
src/ui/
src/temp_test/
*.test.ts
*.example.json
*.map
*.tsbuildinfo
jest.config.js
webpack.config.js
tsconfig.json
postcss.config.js
tailwind.config.js
.github/
.gitignore
.npmignore
